DEBUG=
SECRET_KEY=""
DB_ENGINE="django.db.backends.sqlite3" or "django.db.backends.postgresql"
DB_NAME="db.sqlite3"
CELERY_BROKER_URL="redis://localhost:6379/0"
USER=""
PASSWORD=""
HOST="127.0.0.1"
PORT="5432"
LOG_LEVEL="DEBUG"